<footer class="mt-auto">
	<hr>
	<div class="text-center">Scandiweb Test assignment</div>
</footer>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>